@using CourseApp.ViewModels
@model CourseStudentsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Course</title>
</head>
<body>
    @*course/index view*@

    <h1>@Model.Course.Name</h1>

    @if (Model.Students.Count == 0)
    {
        <text> Kursa katılımcı yok.</text>
    }
    else
    {
        <ul>
            @foreach (var item in Model.Students)
            {
                <li>
                    @item.Name
                </li>

            }
        </ul>
    }




</body>
</html>