
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@using CourseApp.Models

@model StudentResponse
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Thanks</title>
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                Merhaba @Model.Name
            </div>
            <div class="card-body">
                @if (Model.Confirm == true)
                {
                    <span>
                        Kursa katılmış olduğunuzdan dolayı mutlu olduk.
                    </span>
                    <div>
                        Diğer katılımcıları <a asp-action="List">görüntüle</a>
                    </div>

                }
                else
                {
                    <span>
                        Umarım fikriniz değişir. Tekrar görüşürüz.
                    </span>
                }
            </div>
        </div>
    </div>

</body>
</html>